.page {
  display: flex;
  flex-direction: column;
}

.img {
  height: 156px;
  width: 360px;
}

.share_favoritos {
  display: flex;
  flex-direction: row;
}

.btns {
  display: flex;
  flex-direction: row-reverse;
  width: 200px;
}

.btn_icon {
  height: 26px;
  width: 26px;
}

.categoria {
  color: blue;
}

.ingredientes {
  background-color: antiquewhite;
}

.instruçao {
  align-items: center;
  background-color: antiquewhite;
  justify-content: center;
}

.box_btn {
  display: flex;
  justify-content: center;
}

.btn_start {
  background-color: burlywood;
  height: 76px;
  width: 339px;
}
