* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #ff8686;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  width: 100%;
}

footer input {
  height: 35px;
  width: 35px;
}
